*{
    margin: 0px;
    padding: 0px;
}
body{
    background: url('Media/tractor-agricultural-machine-cultivating-field.jpg');
    background-size: cover;
    width: 100%;
    
}
h1{
    text-align: center;
    font-size: 50px;
    margin-top: 50px;
    font-family: 'Poppins', sans-serif;
    color: #023059;

}
button{
    display: inline-block;
    align-items: center;
    justify-content: center;
   margin-left: 42em;
    text-align: center;
    padding: 20px;
    margin-top: 20px;
    border-radius: 30px;
    font-family: 'Poppins', sans-serif;
    font-weight: bold;
    background-color: #F20544;
    color: white;
}